.dialog {
    box-shadow: none;
    background-color: #f6f6f6;
    padding-top: 70px;
    margin-bottom: 10px;
}

.mainTitle {
    font-size: 32px;
    font-family: Ubuntu;
    font-weight: 400;
    color: #212121;
}
.subTitle {
    font-size: 16px;
    font-family: Ubuntu;
    font-weight: 400;
    color: #212121;
}
.subTitleError {
    font-size: 16px;
    font-family: Ubuntu;
    font-weight: 400;
    color: red;
}
.subTitleBold {
    font-size: 16px;
    font-family: Ubuntu;
    font-weight: bold;
    color: #212121;
}
.cancel {
  color: #424242;
  text-transform: none;
}
.mainDiv {
    background-color: #F4F4F4;
    padding-top: 10px;
}
@media all and (max-width: 600px) {
    .mainDiv {
        background-color: white;
    }
    .mainTitle {
        font-size: 20px;
    }
}
@media all and (max-width: 1025px) {
    .dialog {
        padding-top: 55px;
    }
}