body {
  font-family: 'Ubuntu', sans-serif;
}

#root {
  overflow: hidden;
}



/* LEADSPACE */

.bx--leadspace {
  margin-top: 70px;
}

@media (max-width: 64rem) {

  .bx--leadspace {
    margin-top: 60px;
  }
}

.bx--leadspace--content__container.bx--grid {
  width: 100%;
}

@media (min-width: 66rem) {
  :host(dds-leadspace) .bx--leadspace__section, .bx--leadspace .bx--leadspace__section {
    padding-top: 40%;
  }
}

@media (min-width: 82rem) {
  :host(dds-leadspace) .bx--leadspace__section, .bx--leadspace .bx--leadspace__section {
    padding-top: 34%;
  }
}

@media (min-width: 99rem) {
  :host(dds-leadspace) .bx--leadspace__section, .bx--leadspace .bx--leadspace__section {
    padding-top: 30%;
  }
}


/* SOLUTIONS */

.th--solutions-first {
  padding: 48px 40px 0;
}

.th--solutions-first h2 {
  font-size: 40px;
  margin-bottom: 32px;
}

.th--solutions-title {
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 8px;
  width: 70%;
}

.th--solutions-title span {
  display: block;
  margin-bottom: 8px;
}

.th--solutions-first .th--solutions-paragraph {
  margin-bottom: 32px;
  line-height: 24px;
  width: 70%;
}

.th--solutions-image {
  height: 488px;
  margin: auto;
  display: block;
  max-width: 100%;
}

.th--solutions-flex {
  display: flex !important;
  align-content: center;
}

.th--solutions-second {
  padding: 48px 40px 0;
  margin-top: 24px;
  position: relative;
}

.th--solutions-second h2 {
  font-size: 40px;
  margin-bottom: 32px;
  margin-top: 80px;
}

.th--solutions-second .th--solutions-paragraph {
  margin-bottom: 24px;
  line-height: 24px;
  width: 50%;
}

.th--solutions-second .bx--link {
  padding: 4px 0;
  margin: 4px 0;
  display: inline-flex;
}

.th--solutions-background {
  width: 5000px;
  bottom: 420px;
  left: -600px;
  right: 0;
  height: 900px;
  background-color: #f4f4f4;
  position: absolute;
  z-index: -1;
  transform: rotate(150deg);
}

.th--solutions-background-corner {
  width: 5000px;
  bottom: 800px;
  left: -600px;
  right: 0;
  height: 800px;
  background-color: #f4f4f4;
  position: absolute;
  z-index: -1;
  transform: rotate(150deg);
}

@media (max-width: 124rem) {

  .th--solutions-background {
    height: 780px;
    bottom: 570px;
  }
}

@media (max-width: 105rem) {

  .th--solutions-background {
    height: 760px;
    bottom: 600px;
  }
}

@media (max-width: 98rem) {

  .th--solutions-first, .th--solutions-second {
    padding: 48px 32px 0;
  }
}

@media (max-width: 90rem) {

  .th--solutions-background {
    height: 720px;
    bottom: 700px;
  }

  .th--solutions-first .th--solutions-paragraph {
    width: 80%;
  }

  .th--solutions-second .th--solutions-paragraph {
    width: 70%;
  }
}

@media (max-width: 80rem) {
  
  .th--solutions-first .th--solutions-paragraph {
    width: 90%;
  }

  .th--solutions-second .th--solutions-paragraph {
    width: 90%;
  }
}


@media (max-width: 66rem) {

  .th--solutions-title {
    line-height: 16px;
  }

  .th--solutions-title span {
    display: inline-block;
    margin-right: 8px;
  }

  .th--solutions-background, .th--solutions-background-corner {
    display: none;
  }

  .th--solutions-image {
    height: auto;
  }

  .th--solutions-second {
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .th--solutions-first h2, .th--solutions-second h2 {
    font-size: 32px;
  }

  .th--solutions-second h2 {
    margin-top: 40px;
  }
}

@media (max-width: 48rem) {

  .th--solutions-first .th--solutions-paragraph {
    width: 100%;
  }

  .th--solutions-second .th--solutions-paragraph {
    width: 100%;
  }

  .th--solutions-second {
    padding-top: 24px;
  }

  .th--solutions-second h2 {
    margin-top: 8px;
  }
}

@media (max-width: 41.99rem) {

  .th--solutions-first, .th--solutions-second {
    padding: 24px 16px 0;
  }

  .th--solutions-image {
    margin-bottom: 32px;
  }

  .th--solutions-first .th--solutions-flex {
    display: none !important;
  }

  .th--solutions-second h2 {
    margin-top: 0px;
  }
}



/* FEATURED CARDS */

.th--featured-first, .th--featured-second {
  padding-right: 32px;
  padding-left: 32px;
}

.bx--feature-card-block-large {
  margin: 24px 0;
}

.bx--feature-card-block-large__container {
  padding-top: 536px;
}

.bx--feature-card-block-large__container .bx--image {
  cursor: initial;
}

.bx--feature-card-block-large__container .bx--card__wrapper {
  cursor: initial;
  padding-top: 80px;
}

:host(dds-feature-card-block-large) :hover .bx--card__wrapper, .bx--feature-card-block-large :hover .bx--card__wrapper {
  background-color: #f4f4f4;
}

.bx--feature-card-block-large__container .bx--card__wrapper .bx--card__heading {
  font-size: 40px;
}

.bx--feature-card-block-large__container .bx--card__wrapper .bx--card__copy {
  margin-bottom: 24px;
}

:host(dds-feature-card-block-large) .bx--card__footer, .bx--feature-card-block-large .bx--card__footer {
  flex-direction: column;
  margin-top: initial;
}

:host(dds-feature-card-block-large) .bx--card__footer, .bx--feature-card-block-large .bx--card__footer .bx--link {
  padding: 4px 0;
  margin: 4px 0;
  display: inline-flex;
}

:host(dds-feature-card-block-large) .bx--card, .bx--feature-card-block-large .bx--card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
}

:host(dds-feature-card-block-large) .bx--card ::slotted([slot=image]), :host(dds-feature-card-block-large) .bx--card__wrapper, :host(dds-feature-card-block-large) .bx--card .bx--image, .bx--feature-card-block-large .bx--card ::slotted([slot=image]), .bx--feature-card-block-large .bx--card__wrapper, .bx--feature-card-block-large .bx--card .bx--image {
  width: 50%;
  height: 100%;
}

.th--featured-second .bx--card {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 64rem) {

  .bx--feature-card-block-large__container {
    padding-top: 440px;
  }

  .bx--feature-card-block-large__container .bx--card__wrapper {
    padding: 40px 16px 24px;
  }

  .bx--feature-card-block-large__container .bx--card__wrapper .bx--card__heading {
    font-size: 32px;
  }
}

@media (max-width: 48rem) {

  :host(dds-feature-card-block-large) .bx--card, .bx--feature-card-block-large .bx--card {
    position: initial;
    flex-direction: column;
  }

  :host(dds-feature-card-block-large) .bx--card ::slotted([slot=image]), :host(dds-feature-card-block-large) .bx--card__wrapper, :host(dds-feature-card-block-large) .bx--card .bx--image, .bx--feature-card-block-large .bx--card ::slotted([slot=image]), .bx--feature-card-block-large .bx--card__wrapper, .bx--feature-card-block-large .bx--card .bx--image {
    width: initial;
    height: initial;
  }

  .bx--feature-card-block-large__container {
    padding-top: 0;
  }

  .bx--feature-card-block-large__container .bx--card__wrapper {
    padding: 24px 16px 24px;
  }

  .bx--feature-card-block-large__container .bx--card__wrapper .bx--card__heading {
    margin-bottom: 24px;
  }

  .th--featured-second .th--featured-card {
    display: initial;
  }

  .bx--card .bx--card__wrapper::before, :host(dds-card) .bx--card__wrapper::before, :host(dds-link-list-item-card) .bx--card__wrapper::before, :host(dds-card-group-item) .bx--card .bx--card__wrapper::before, :host(dds-card-cta) .bx--card__wrapper::before, :host(dds-link-list-item-card-cta) .bx--card__wrapper::before, :host(dds-content-group-cards-item) .bx--card .bx--card__wrapper::before {
    padding-top: 0;
  }
}