body {
  font-family: 'Ubuntu', sans-serif;
}



/* NAVBAR */

.bx--header {
  height: 70px;
  background-color: white;
  border: 0;
}

.bx--header .th--nav-logo {
  padding: 12px 40px;
  display: inline-block;
}

.bx--header .th--nav-logo img {
  height: 40px;
}

.bx--header .th--nav-links {
  display: flex;
  align-items: center;
}

.bx--header .th--nav-links a {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
}

.bx--header .th--nav-links .bx--btn {
  margin: 0 40px 0 16px;
  width: 200px;
}

.bx--btn.bx--btn--icon-only.bx--tooltip__trigger {
  display: none;
  margin: 0 24px;
}

.th--nav-menu.bx--btn.bx--btn--icon-only .bx--btn__icon {
  width: 32px;
  height: 32px;
}

.bx--side-nav {
  left: initial;
  right: 0;
  top: 70px;
  background-color: #e5e5e5;
}

.bx--side-nav__overlay {
  top: 70px;
}

.bx--side-nav--ux {
  width: 0;
}

.bx--side-nav.bx--side-nav--rail:not(.bx--side-nav--fixed):hover, .bx--side-nav--expanded {
  width: 16rem;
}

@media (max-width: 64rem) {

  .bx--header {
    height: 60px;
  }

  .bx--header .th--nav-logo {
    padding: 12px 16px;
  }

  .bx--header .th--nav-logo img {
    height: 32px;
  }

  .bx--header .th--nav-links a {
    padding: 8px 12px;
    font-size: 14px;
  }

  .bx--header .th--nav-links .bx--btn {
    margin: 0 8px 0 12px;
    font-size: 14px;
    width: 160px;
  }
}

@media (max-width: 48rem) {

  .bx--header .th--nav-links {
    display: none;
  }

  .bx--btn.bx--btn--icon-only.bx--tooltip__trigger {
    display: block;
  }

  .bx--btn.bx--btn--icon-only.bx--tooltip__trigger {
    margin: 0;
  }

  .th--nav-menu.bx--btn.bx--btn--icon-only .bx--btn__icon {
    width: 24px;
    height: 24px;
  }

  .bx--side-nav {
    left: initial;
    right: 0;
    top: 60px;
  }
  
  .bx--side-nav__overlay {
    top: 60px;
  }
}



/* LEADSPACE */

.bx--leadspace {
  margin-top: 70px;
}

@media (max-width: 64rem) {

  .bx--leadspace {
    margin-top: 60px;
  }
}

.bx--leadspace--content__container.bx--grid {
  width: 100%;
}

@media (min-width: 66rem) {
  :host(dds-leadspace) .bx--leadspace__section, .bx--leadspace .bx--leadspace__section {
    padding-top: 40%;
  }
}

@media (min-width: 82rem) {
  :host(dds-leadspace) .bx--leadspace__section, .bx--leadspace .bx--leadspace__section {
    padding-top: 34%;
  }
}

@media (min-width: 99rem) {
  :host(dds-leadspace) .bx--leadspace__section, .bx--leadspace .bx--leadspace__section {
    padding-top: 30%;
  }
}



/* FEATURED CARDS */

.th--featured-first, .th--featured-second {
  padding-right: 32px;
  padding-left: 32px;
}

.bx--feature-card-block-large {
  margin: 24px 0;
}

.bx--feature-card-block-large__container {
  padding-top: 536px;
}

.bx--feature-card-block-large__container .bx--image {
  cursor: initial;
}

.bx--feature-card-block-large__container .bx--card__wrapper {
  cursor: initial;
  padding-top: 80px;
}

:host(dds-feature-card-block-large) :hover .bx--card__wrapper, .bx--feature-card-block-large :hover .bx--card__wrapper {
  background-color: #f4f4f4;
}

.bx--feature-card-block-large__container .bx--card__wrapper .bx--card__heading {
  font-size: 40px;
}

.bx--feature-card-block-large__container .bx--card__wrapper .bx--card__copy {
  margin-bottom: 24px;
}

:host(dds-feature-card-block-large) .bx--card__footer, .bx--feature-card-block-large .bx--card__footer {
  flex-direction: column;
  margin-top: initial;
}

:host(dds-feature-card-block-large) .bx--card__footer, .bx--feature-card-block-large .bx--card__footer .bx--link {
  padding: 4px 0;
  margin: 4px 0;
  display: inline-flex;
}

:host(dds-feature-card-block-large) .bx--card, .bx--feature-card-block-large .bx--card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
}

:host(dds-feature-card-block-large) .bx--card ::slotted([slot=image]), :host(dds-feature-card-block-large) .bx--card__wrapper, :host(dds-feature-card-block-large) .bx--card .bx--image, .bx--feature-card-block-large .bx--card ::slotted([slot=image]), .bx--feature-card-block-large .bx--card__wrapper, .bx--feature-card-block-large .bx--card .bx--image {
  width: 50%;
  height: 100%;
}

.th--featured-second .bx--card {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 64rem) {

  .bx--feature-card-block-large__container {
    padding-top: 440px;
  }

  .bx--feature-card-block-large__container .bx--card__wrapper {
    padding: 40px 16px 24px;
  }

  .bx--feature-card-block-large__container .bx--card__wrapper .bx--card__heading {
    font-size: 32px;
  }
}

@media (max-width: 48rem) {

  :host(dds-feature-card-block-large) .bx--card, .bx--feature-card-block-large .bx--card {
    position: initial;
    flex-direction: column;
  }

  :host(dds-feature-card-block-large) .bx--card ::slotted([slot=image]), :host(dds-feature-card-block-large) .bx--card__wrapper, :host(dds-feature-card-block-large) .bx--card .bx--image, .bx--feature-card-block-large .bx--card ::slotted([slot=image]), .bx--feature-card-block-large .bx--card__wrapper, .bx--feature-card-block-large .bx--card .bx--image {
    width: initial;
    height: initial;
  }

  .bx--feature-card-block-large__container {
    padding-top: 0;
  }

  .bx--feature-card-block-large__container .bx--card__wrapper {
    padding: 24px 16px 24px;
  }

  .bx--feature-card-block-large__container .bx--card__wrapper .bx--card__heading {
    margin-bottom: 24px;
  }

  .th--featured-second .th--featured-card {
    display: initial;
  }

  .bx--card .bx--card__wrapper::before, :host(dds-card) .bx--card__wrapper::before, :host(dds-link-list-item-card) .bx--card__wrapper::before, :host(dds-card-group-item) .bx--card .bx--card__wrapper::before, :host(dds-card-cta) .bx--card__wrapper::before, :host(dds-link-list-item-card-cta) .bx--card__wrapper::before, :host(dds-content-group-cards-item) .bx--card .bx--card__wrapper::before {
    padding-top: 0;
  }
}