@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600&display=swap');
@import 'carbon-components/scss/globals/scss/styles.scss';
@import '@carbon/ibmdotcom-styles/scss/components/leadspace/leadspace';
@import '@carbon/ibmdotcom-styles/scss/components/feature-card-block-large/feature-card-block-large.scss';
@import '@carbon/ibmdotcom-styles/scss/components/link-with-icon/link-with-icon';

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
